streamlit==1.32.0
pandas==2.2.1
plotly==5.22.0
google-cloud-aiplatform==1.44.0
google-cloud-bigquery==3.19.0
google-cloud-bigquery-storage==2.24.0
pyarrow==15.0.2
db-dtypes
requests==2.31.0
python-dotenv
langgraph
langchain-core
langchain-nvidia-ai-endpoints
torch
torchvision